nav {
    background-color: #333;
    padding: 20px;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    justify-content: space-between;
  }
  
  .left-group,
  .right-group {
    display: flex;
  }
  
  .left-group {
    justify-content: flex-start;
  }
  
  .right-group {
    justify-content: flex-end;
  }
  
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  
    align-items: flex-start;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
    width: auto;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    display: block;
    padding: 10px 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 20px 0;
  }
  
  a {
    color: #0074d9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  nav.right-group ul li a:hover {
    background-color: #444;
    color: #fff;
    width: auto; 
    height: auto; 
    padding: 10px 15px;
  }

  nav ul li a img {
    border: 1px solid #fff;
    display: inline-flex;
    border-radius: 50%;
  }

  nav img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
  }

  nav ul li button.button {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    outline: none;
    display: block;
    padding: 10px 15px;
  }
  
  .card-container .button:hover {
    background-color: #444;
    color: #fff;
    width: auto; 
    height: auto; 
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
  
  nav ul li button.button:active {
    box-shadow: 0 0 10px #444;
  }

  nav ul li button.mode-button {
    background-color: #fff;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.3s ease;
    border-radius: 10px;
    outline: none;
    display: block;
    padding: 10px 15px;
  }
  
  nav ul li button.mode-button:hover {
    background-color: #444;
    color: #fff;
    width: auto; 
    height: auto;
    padding: 10px 15px; 
  }
  
  nav ul li button.mode-button:active {
    box-shadow: 0 0 10px #444;
  }


  /* CSS for the dark mode */
.dark nav {
    background-color: #333;
  }
  
  .dark nav ul li a,
  .dark nav ul li button.button,
  .dark nav ul li button.mode-button {
    color: #fff;
  }
  
  .dark nav ul li a:hover,
  .dark nav ul li button.button:hover,
  .dark nav ul li button.mode-button:hover {
    background-color: #444;
  }
  
  .dark nav ul li a:active,
  .dark nav ul li button.button:active,
  .dark nav ul li button.mode-button:active {
    box-shadow: 0 0 10px #444;
  }

  nav ul li:nth-child(1) {
    order: 1;
  }
  
  nav ul li:nth-child(2) {
    order: 2;
  }
  
  nav ul li:nth-child(3) {
    order: 3;
  }
  
  nav ul li:nth-child(4) {
    order: 4;
  }  

  nav ul li:nth-child(5) {
    order: 5;
  } 
  
  nav ul li:nth-child(6) {
    order: 6;
  }  


  nav ul li.right-side {
    display: block;
    float: right;
  }
  

  /* Set the background color of the light/night mode feature button to the primary color of the material design */
  nav ul li.mode-button {
  background-color: #00bcd4;
  }
  
  /* Set the color of the light/night mode feature button to white */
  nav ul li.mode-button {
  color: white;
  }
  
  /* Set the background color of the light/night mode feature button when it is hovered or active to the secondary color of the material design */
  nav ul li.mode-button:hover,
  nav ul li.mode-button.active {
  background-color: white;
  color: #00bcd4;
  }
  
  
/* Hide the navbar elements on small screens */
@media screen and (max-width: 768px) {
    nav ul li:not(.navbar-button) {
      display: none;
    }
    nav ul li.navbar-button.active {
      display: block;
    }
  }
  
  /* Show the navbar elements on small screens when the navbar button is clicked */
  @media screen and (max-width: 768px) {
    nav ul li.navbar-button.active + li {
      display: block;
    }
  }