.carousel-div {
  background-color: #212529;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.card {
  background-color: #212529;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #757575 1px solid;
}

.card:hover {
  background-color: #343a40;
}
.svg-container {
  display: none;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
  }

.svg-container:hover {
  background-color: #adb5bd;
}

.card-img {
  margin: auto;
  width: 14rem;
  height: 16.8rem;
}
.card-body {
  flex-grow: 1;
  color: white;
}

.card-title {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin: 1rem 0;
  color: white;
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
  text-align-last: center;
}

.card-readMore {
  background-color: #212520;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s, border-color 0.3s;
  align-self: center;
  width: 10rem;
  margin-top: 1rem; /* Adjust the spacing as needed */
}

.card-readMore:hover, .card-readMore:focus, .card-readMore:active {
  background-color: white !important;
  border: #212529 solid 0.5px;
  color: #212520 !important;
}

@media screen and (min-width: 768px) {
  .card {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
  }

  .card-img {
    border-radius: 1rem;
    padding: 10px;
    width: 50%;
    width: 18rem;
    height: 21.6rem;
  }

  .card-main {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  .card-text {
    margin-top: 2rem;
  }
}

.carousel-indicators {
  bottom: -2rem;
}

.carousel-control-prev, .carousel-control-next {
width: 10%;
}