.navigation {
  z-index: 99;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #212529;
  color: black;
  border: #333 0.75px solid;
  border-style: none none solid none;
  position: fixed;
}

.brand-name {
  background-color: rgb(37, 37, 37);
  margin: 1rem;
  border-radius: 50%;
  display: flex;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: rgb(37, 37, 37);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 2rem;
  right: 1rem;
  transform: translateY(-50%);
  display: none;
}

.hamburger:hover, .brand-name:hover {
  background-color: #575758;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  font-weight: 500;
}

.navigation-menu li a:hover {
  color: #adb5bd;
}

@media screen and (min-width: 768px) {
  .navigation-menu ul {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .brand-name {
    background-color: rgb(37, 37, 37);
    margin: 1rem;
    border-radius: 50%;
    display: flex;
    margin-top: auto;
  }
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    display: none;
  }

  .navigation-menu.expanded ul {
    display: block;
  }

  .navigation-menu {
    display: none;
  }

  .expanded{
    display: block;
    top: 60px;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: white;
    border-top: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }
}