.page {
    margin: auto;
    max-width: 1080px !important;
  }

@media screen and (min-width: 1080px) {
    .page {
      border: #333 0.75px solid !important;
      border-style: none solid !important;
    }
}

.OtherBooks {
  margin-top: 5rem;
  z-index: 1;
  color:#fff;
  text-align: center;
}

.OtherBooks h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}